config/ampache.cfg.php
config/ampache-doped.cfg.php
rest/.htaccess
play/.htaccess
*.phpproj
*.sln
*.v11.suo
*.suo
logs
/nbproject/private/
.pc
/tmp
.AppleDouble
**/.AppleDouble
**/**/.AppleDouble
**/**/**/.AppleDouble
**/**/**/**/.AppleDouble
**/**/**/**/**/.AppleDouble
.DS_Store
config/*.php
